body{
    margin: 0%;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:7px 50px;
}

.header a{
    float:left;
    color:white;
    text-align: center;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: hero;
}

.awesome{
    display: flex;
    background-color:#1f2937 ;
    flex-direction: row;
    padding:30px ;
    justify-content: space-around;
}

.awesome input{
background-color: #3882F6;
color: #F9FAF8;
border-radius:10px;
height: 30px;
box-shadow: 0px;
border: none;
width:80px

}

.awesome-content p{
    color: #E5E7Eb;
    font-size: 18px;
}

.awesome-content h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

.awesome img{
    height: 180px;
}

.other-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-info .title h2{
font-size: 36px;
font-weight:bolder;
color: #1f2937;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px;
}

.square{
    border: 3px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}


.sq-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 210px;
    padding: 25px;
    margin: 0 10px; /* Add margin for spacing between squares */
}


.quote-container{
    background-color: #E5E7EB;
}

.quote-section{
    display: flex;
    padding: 45px 250px;
    justify-content: center;
    flex-direction: column; 
}

.quote-section .quote p{
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
}

.author {
    align-self: flex-end; 
}

.call-to-action{
    padding: 45px 180px;
}
.banner{
    background-color:#3882F6;
}

.banner-content{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.banner-content .text p{
    color: #E5E7EB;
    font-size: medium;
}

.banner-content .text .title{
    font-weight: bolder;
}

.banner-content input{
    color: #E5E7EB;
    background-color: transparent;
    border:2px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
}

.footer{
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer .content{
    color:#E5E7EB ;
    padding: 10px;
    align-self: center;
    justify-self: center;
}

